@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: #131313;
}

::-webkit-scrollbar-thumb {
	background: #f3f3f3;
}

html {
	font-family: "Nunito", sans-serif;
	background-color: #131313;
	color: #f3f3f3;
	scroll-behavior: smooth;
}
